# Dataset
dataset/
leaf_detector_dataset/
benchmark_200/
eval_dataset_200/
test_images/
test_realworld/

# Backend uploads
backend/uploads/

# Trained Models
model/
models/
*.keras
*.h5

# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
# Temporary test files
training/scratch/